.articles-container {
    margin-top: 45px;
    width: 100%;
    animation: popup 0.5s ease;
}

.article-list {
    display: flex;
    width: 80%;
    max-width: 960px;
    margin: auto;
    align-items: center;
}

.article-card {
    margin-top: 30px;
    display: flex;
    width: 100%;
    text-decoration: none;
    background: #f5f5f5;
    transition: transform .3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.article-card:hover {
    transform: scale(1.02);
}

.article-cover {
    flex: 2;
    height: 120px;
    object-fit: cover;
}

.article-label {
    flex: 3;
}

.article-label {
    display: flex;
    flex-direction: column;
    height: 120px;
}

.article-label h1 {
    margin: auto;
    color: #21394f;
    font-size: 26px;;
    font-weight: 600;
    text-align: center;
}

.article-label p {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-right: 10px;
    color: #394b5c;
}

.tags {
    display: flex;
    width: 100%;
    justify-content:space-between;
}

.tags span {
    display: flex;
    color: #fff;
    background: #005e55;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    border-left: 1px solid #f5f5f5;
    font-weight: 300;
}

@media only screen and (max-width: 1000px) {
    .article-list {
        width: 90%;
    }

    .article-card {
        flex-direction: column;
    }

    .article-cover {
        max-height: 120px;
    }

    .article-label h1 {
        font-size: 20px;
        margin: 5px;
    }
}
