.article-container {
    margin-top: 45px;
    width: 100%;
    animation: popup 0.5s ease;
}

.loading-bar {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 1024px;
    margin: auto;
    background: #fafafa;
}

.content-cover {
    max-height: 600px;
    object-fit: cover;
}

.content-tags {
    padding-top: 5px;
    padding-bottom: 5px;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.content-tags a {
    padding: 3px 8px 3px 8px;
    margin: 2px 5px 2px 5px;
    background: #006a82;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.5px;
    border-radius: 5px;
}

.content-title {
    background: #fff;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 15px;
}

.content-mark {
    background: #fff;
    text-align: right;
    font-weight: 300;
    padding: 0 10px 10px 10px;
}

.section-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.image-container {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-image {
    width: inherit;
}

.content-subtitle {
    text-align: center;
    font-weight: 600;
    margin-top: 30px;
    padding-left: 10px;
    border-left: 10px solid #009db5;
}

.content-image-comment {
    width: 100%;
    text-align: center;
}

.content-phrase {
    color: #292929;
    width: 80%;
    font-size: 20px;
    line-height: 32px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

.content-refers {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
}

.content-refers a {
    text-align: left;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #018f69;
    margin-left: 20px;
    margin-right: 20px;
}

.post-mark {
    text-align: right;
    font-weight: 300;
    padding: 0 10px 10px 10px;
}


@media only screen and (max-width: 900px) {
    .content-cover {
        height: 400px;
    }

    .content-container {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .content-cover {
        height: 200px;
    }

    .content-title {
        font-size: 26px;
    }

    .content-phrase {
        width: 90%;
    }
}
