.fatego-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 45px;
}

.fatego-cover {
    width: 100%;
    max-width: 2000px;
    object-fit: cover;
}

.fatego-phrase {
    width: 80%;
    text-align: center;
    font-family: 'Fanwood Text', serif;
    font-size: 26px;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 10px;
}

.fatego-navbar {
    display: flex;
    width: 100%;
    max-width: 2000px;
    flex-direction: row;
    justify-content: center;
    border-top: 2px solid gold;
}

.fatego-navbar button {
    width: 200px;
    background: #005e55;
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: none;
}

.fatego-navbar button:hover {
    opacity: 0.8;
}

.left-button {
    border-bottom-left-radius: 10px;
}

.right-button {
    border-bottom-right-radius: 10px;
}

.fatego-id {
    font-family: 'Fanwood Text', serif;
    font-size: 30px;
    color: #292929;
}

.fatego-content-container {
    width: 80%;
    max-width: 1600px;
}

.present-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    animation: popup 0.5s ease;
}

.avatar-box,
.graph-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.avatar-box {
    margin-top: 10px;
    padding: 20px;
    background: #002a32;
    background-image: url(../image/summonBackground.webp);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.avatar-box img {
    width: 70px;
    margin: 3px;
}

.graph-card {
    position: relative;
    background: #002a32;
    align-items: center;
    width: 270px;
    margin: 15px 10px;
    transition: transform .3s;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.graph-card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px 0 #fffc54, 0 6px 20px 0 #fffc54;
}

.graph-card span {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 46px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    color: #fffde8;
}

.saint-graph {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid #fffb00;
}

.class-icon {
    position: absolute;
    left: calc(50% - 20px);
    top: calc(381px - 20px);
}

.summon-cover {
    max-height: 200px;
}

.banner-box {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    width: 80%;
    max-width: 960px;
    align-items: center;
}

.banner-box h3 {
    width: 100%;
    text-align: center;
    color: #424242;
    border-bottom: 3px solid #009696;
}

.banner-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.record-title {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.record-title img {
    min-width: 500px;
    max-width: 500px;
}

.record-summary {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.record-summary div {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.record-summary span,
.record-summary a,
.record-summary button {
    display: flex;
    flex: 1;
    font-size: 24px;
    font-weight: 300;
    align-items: center;
}

.record-summary span {
    justify-content: flex-end;
    padding-right: 2px;
}

.record-summary a {
    padding-left: 2px;
}

.record-summary button {
    border: none;
    background: #005e55;
    color: #fff;
    justify-content: center;
    margin-left: 1px;
}

.record-summary button:hover {
    opacity: 0.8;
}

.record-detail {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.record-detail h4 {
    width: 100%;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    background:#9e0096;
    color: #fff;
    border-bottom: 1px solid grey;
}

.record-detail ul {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 60%;
    list-style: none;
}

.record-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.result-name {
    flex: 8;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.result-quatity,
.result-rate {
    flex: 2;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
}


@media only screen and (max-width: 1300px) {
    .banner-box {
        width: 100%;
    }
}

@media only screen and (max-width: 1000px) {
    .banner-box {
        max-width: 500px;
    }

    .record-title {
        flex-direction: column;
    }

    .record-title img {
        display: flex;
        width: 100%;
        min-width: 400px;
    }

    .graph-card {
        width: 180px;
    }

    .class-icon {
        top: calc(257px - 20px);
    }
}

@media only screen and (max-width: 500px) {
    .fatego-content-container {
        width: 100%;
    }

    .fatego-phrase {
        width: 95%;
    }

    .avatar-box {
        padding: 5px;
    }

    .banner-box {
        width: 95%;
    }

    .record-summary div {
        border-left: 1px solid grey;
        border-right: 1px solid grey;
    }

    .record-summary span,
    .record-summary a {
        font-size: 20px;
    }

    .record-summary button {
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
    }

    .record-detail ul {
        width: 100%;
    }
}
