.mainContent {
    margin-top: 45px;
    width: 100%;
    animation: popup 0.5s ease;
}

.presentation {
    display: flex;
    width: 80%;
    max-width: 960px;
    margin: auto;
    min-height: 400px;
    align-items: center;
}

.intro {
    flex: 3;
}

.intro-text h1 {
    font-size: 36px;
    font-weight: 600;
    background: linear-gradient(to right, #3d1920, #355089);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-text p {
    margin-top: 5px;
    font-size: 24px;
}

.intro-link {
    display: flex;
    margin: auto;
    justify-content: center;
}

.intro-link a {
    display: flex;
    justify-content: center;
    box-sizing: content-box;
    border-radius: 4px;
    margin: 10px;
}

.intro-link a:hover {
    box-shadow: 0 0 10px #fff, 0 5px 5px #fff;
}

.intro-link svg {
    height: 2em;
    margin: 10px;
}

.avatar {
    flex: 1;
}

.avatar img {
    width: 240px;
    border: 3px solid #adbbc4;
    border-radius: 120px;
}

.badges,
.programming,
.recent-stuff {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    max-width: 960px;
    min-height: 250px;
    align-items: center;
}

.badge-image {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px auto 20px auto;
}

.badge-image img {
    height: 160px;
    filter: drop-shadow(0px 5px 3px grey);
    animation: drop 2s ease;
}

.title {
    display: flex;
    align-items: center;
}

.title svg {
    width: 30px;
}

.badges p {
    font-size: 20px;
    font-weight: 300;
    border-bottom: 3px solid #00b3b3;
}

.programming p {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 300;
    border-bottom: 3px solid #21cc9b;
}

.programming li {
    width: 100%;
    margin: 10px 0;
    list-style: none;
}

.programming h3 {
    font-weight: 600;
}

.language-bar {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.bar {
    display: block;
    height: 6px;
    border-radius: 3px;
    box-shadow: 0 0 5px grey;
}

.bar span {
    height: 6px;
    float: left;
    background: #21cc9b;
}

.python {
    width: 90%;
    animation: python 2s;
}

.java {
    width: 70%;
    animation: java 2s;
}

.cpp {
    width: 40%;
    animation: cpp 2s;
}

.recent-stuff p {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 300;
    border-bottom: 3px solid #ff9d00;
}

.screenshoots {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
}

.image-card {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    width: 45%;
    margin: 20px 10px;
    align-items: center;
    border-radius: 5px;
    box-sizing: content-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform .5s ease;
}

.image-card:hover {
    transform: scale(1.1);
}

.image-card img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: transform .5s ease;
    width: 100%;
    max-width: 960px;
}

.image-card a {
    width: 100%;
    color: black;
    text-align: center;
    margin: 5px auto 5px auto;
    font-weight: 300;
}

@keyframes python {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}

@keyframes java {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}

@keyframes cpp {
    0% {
        width: 0%;
    }
    100% {
        width: 40%;
    }
}

@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 100;
        transform: translateY(0px);
    }
}

@keyframes popup {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media only screen and (max-width: 900px) {
    .intro-link a:hover {
        box-shadow: 0 0 10px grey, 0 5px 5px grey;
    }
}

@media only screen and (max-width: 800px) {
    .presentation,
    .badges,
    .programming,
    .recent-stuff {
        width: 90%;
    }

    .presentation {
        flex-direction: column;
        margin: 60px auto 60px auto;
    }

    .intro-text h1 {
        text-align: center;
        font-size: 26px;
    }

    .intro-text p {
        font-weight: 300;
        text-align: center;
    }

    .intro-link {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .programming {
        justify-content: center;
    }

    .image-card {
        width: 100%;
    }
}
