* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Fira Sans', sans-serif;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    background: #002a32;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
}

footer {
    margin-top: 50px;
    width: 100%;
    align-items: center;
}

footer p {
    text-align: center;
}

.cover-container {
    display: flex;
    justify-content: center;
}

.cover-image {
    position: absolute;
    bottom: 0;
    top: 45px;
    z-index: -1;
    opacity: 0.4;
    width: 100%;
    max-width: 2000px;
}

.container {
    display: flex;
    width: 80%;
    max-width: 1024px;
    height: 45px;
    margin: auto;
    align-items: center;
}

.logo-box,
.nav-links,
.about-box {
    display: flex;
}

.logo-box {
    flex: 1;
    align-items: baseline;
}

.small-logo-box {
    display: none;
}

.logo-box svg {
    height: 25px;
}

.logo {
    color: #e3e3e3;
    text-decoration: none;
    font-size: 1.9em;
    font-weight: 900;
    margin-left: 10px;
}

nav {
    height: inherit;
    flex: 2;
}

li {
    height: inherit;
}

.nav-links {
    height: inherit;
    align-items: stretch;
    justify-content: space-around;
    list-style: none;
}

.nav-link {
    height: inherit;
    width: 100px;
    color: #f2f2f2;
    background: inherit;
    font-size: 18px;
    border: none;
    box-sizing: content-box;
    text-decoration: none;
}

.nav-link:hover {
    background: #005869;
    border-bottom: 5px solid #fff;
}

.about-box {
    flex: 1;
    justify-content: flex-end;
}

.about-box svg {
    height: 25px;
}

@media only screen and (max-width: 500px) {
    .container {
        width: 100%;
    }

    .container svg {
        height: 3vh;
    }

    nav {
        flex: 3;
    }

    .logo-box {
        display: none;
    }

    .small-logo-box {
        display: flex;
    }

    .small-logo-box svg {
        height: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .nav-links {
        justify-content: center;
    }

    .nav-link {
        width: auto;
        font-size: 1.3em;
        padding-left: 7px;
        padding-right: 7px;
    }

    .about-box svg {
        height: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }
}
